@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 226, 127, 19;
  --background-end-rgb: 249, 186, 132;
}

/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=e27f13&c2=f9ba84&gt=l&gd=dtl
*/

body {
  background-color: rgb(var(--background-start-rgb));
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
